@import "src/styles";

.dark {
  color: $text-normal-dark;
  background-color: $background-primary-dark;

  &:hover {
    background-color: $background-message-hover-dark;
  }

  & h2 > span:last-of-type{
    color: $text-muted-dark;
  }
}

.light {
  color: $text-normal;
  background-color: $background-primary;

  &:hover {
    background-color: $background-message-hover;
  }
  & h2 > span:last-of-type{
    color: $text-muted;
  }
}

.message {
  padding: 0 42px 0 1rem;
  display: flex;
  flex-direction: row;
  margin-top: 1.0625rem;

  & img {
    margin-right: 1rem;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
  }
  & div {
    display: flex;
    flex-direction: column;
    line-height: 1.375rem;

    & h2 {
      padding: 0;
      margin: 0;
      font-size: 100%;

      & span:first-of-type {
        margin-right: .25rem;
      }
      & span:last-of-type {
        margin-left: .25rem;
        height: .25rem;
        font-size: .75rem;
        line-height: 1.375rem;
      }
    }

    & div {
      margin-left: -75px;
    }
  }
}
