<div class="message" [ngClass]="{'dark' : type == 0, 'light': type == 1}">
  <img alt="Profile Picture" src="https://picsum.photos/seed/{{color ? color.replace('#', '') : type}}/80">
  <div>
    <h2><span [ngStyle]="{'color': color ? color : null}">WimpStick</span><span>Today at 4:20 PM</span></h2>
    <span>Moin!</span>
  </div>
</div>
