<main>
  <app-chat-preview [type]="lightType" [colors]="colors"></app-chat-preview>
  <app-role-color-picker [colors]="colors" (colorUpdateEvent)="colors = $event"></app-role-color-picker>
  <app-chat-preview [type]="darkType" [colors]="colors"></app-chat-preview>
</main>
