<div class="picker">
  <form [formGroup]="choseColorForm" (ngSubmit)="onSubmit()">
    <input type="text" formControlName="color" [(ngModel)]="choseColorForm.value.color" (change)="fixColor()">
    <input type="color" formControlName="color" [(ngModel)]="choseColorForm.value.color">
    <button type="submit" [disabled]="!choseColorForm.valid">Add</button>
  </form>
  <ul #colorList cdkDropList (cdkDropListDropped)="drop($event)">
    <li class="color-element" *ngFor="let color of colors; let i = index" cdkDrag [ngStyle]="{'background-color': color ? color : null}">
      <span (dblclick)="copyColorToClipboard(i)">{{color}}</span>
      <span class="copy-alert">Copied!</span>
      <button (click)="deleteColorAtIndex(i)">del</button>
    </li>
  </ul>
</div>
