.picker {
  margin: 1rem clamp(10px, 2vw, 250px);
  display: flex;
  flex-direction: column;

  & ul {
    padding: 0;
    list-style: none;

    & li {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      cursor: grabbing;
      & > span:first-of-type {
        cursor: copy;
      }
    }
  }
}

.cdk-drag-preview {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  box-sizing: border-box;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.copy-alert {
  opacity: 0;
}

.animate {
  animation: disappear 1.2s linear;
}

@keyframes disappear {
  10% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
