<ul [ngClass]="{'dark' : type == 0, 'light': type == 1}">
  <li>
    <app-message-preview [type]="type"></app-message-preview>
  </li>
  <li *ngFor="let color of colors">
    <app-message-preview [type]="type" [color]="color"></app-message-preview>
  </li>
</ul>
