/* You can add global styles to this file, and also import other style files */
$header-primary: #747f8d;
$text-normal: #2e3338;
$text-muted: #747f8d;
$background-primary: #ffffff;
$background-message-hover: rgba(6,6,7,0.02);

$header-primary-dark: #ffffff;
$text-normal-dark:#dcddde;
$text-muted-dark: #72767d;
$background-primary-dark:#36393f;
$background-message-hover-dark: rgba(4,4,5,0.07);

app-root {
  display: flex;
  flex-direction: column;
  align-items: center;
}
